@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(45deg, #020202, #399dfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

